.fill-star-logo {
  background-image: url(../../images/fillstar.png);
  height: 20px;
  width: 20px;
}

.nofill-star-logo {
  background-image: url(../../images/nofillstar.png);
  height: 20px;
  width: 20px;
}
